@model CourtAuthIdentityServer.Controllers.LoginViewModel

<form asp-action="Login" method="post">
    <input type="text" name="Username" placeholder="Username" required />
    <input type="password" name="Password" placeholder="Password" required />
    <button type="submit">Login</button>
</form>
